/* css definitions for berniw's hompepage */

h1,h2,h3,h4,p,ol,div,td,tr,th,address,blockquote,nobr,b,i { font-family:Arial,Helvetica,sans-serif; margin-top:0px; margin-left:5px; margin-right:5px; }
body { font-family:Arial,Helvetica,sans-serif; margin-top:0px; margin-left:0px; margin-right:0px; }
ul, li { font-family:Arial,Helvetica,sans-serif; font-size:14px;}
pre { margin-top:0px; margin-left:5px; margin-right:5px; margin-bottom:6px; }

h1 { font-size:20px; margin-top:0px; margin-bottom:8px; }
h2 { font-size:18px; margin-top:0px; margin-bottom:8px; }
h3 { font-size:16px; margin-top:0px; margin-bottom:8px; }
h4 { font-size:14px; margin-top:0px; margin-bottom:6px; }
p { font-size:14px; margin-top:0px; margin-bottom:6px; text-align:justify; }
a { font-family:Arial,Helvetica,sans-serif; font-size:14px; }
tt { font-size:12px; }
th { font-size:14px; }

.placeleft { position:relative; left:0; margin-bottom:1; margin-top:0; }
.addborder { border-style:solid; border-color:black; border-width:1px; border-collapse:collapse; padding:2; }
.lcolor { background-color:#fcb05a; }
.lbcolor { background-color:#cecece; }
.ncolor { background-color:#fbc98f;  }

.newsborder { border-style:solid; border-color:#fcb05a; border-width:0px; border-collapse:collapse; padding:2; font-size:14px; }
table.news { border-style:solid; border-color:#fcb05a; border-width:1px; border-collapse:collapse; padding:2; width:640px; overflow:auto; margin-left:5px; margin-bottom:6px;}

td.maincontent { width:650px; overflow:auto; vertical-align:top; }
table.maincontent { border-style:none; border-width:0px; border-spacing:0px; }

td.thumbnail { border:0px; width:163px; height:112px; border-style:hidden; margin-bottom:5px; border-collapse:collapse; }
table.thumbnail { border-style:none; border-width:0px; border-spacing:0px; border-collapse:collapse; margin-left:5px;}
.footer { font-size:12px; margin-top:0px; font-family:Arial,Helvetica,sans-serif; }

td.navigation_foot { overflow:auto; vertical-align:top; }
table.navigation_foot { width:650px; border-style:none; border-width:0px; border-spacing:0px;}
